.dac    
    .container
        .dac-first
            .dac-first__title Discover and Collect The Best NFTs <span>Digital Art.</span>
            .dac-first__text Get started with the easiest and most secure platform to buy and trade digital ART and NFT’s. Start exploring the world of digital art and NFTs today and take control of your digital assets with confidence!
            .dac-first__btns
                .dac-first__btns-explore.yellow-btn
                    a(href='#').yellow-btn-item Explore Now
                .dac-first__btns-learn.hover-btn
                    a(href='#').learn Learn More
            .dac-first__results
                .dac-first__results-item.dac-first__results-item1
                    .dac-first__results-item__first.result-art <span>8.9 </span>K
                    .dac-first__results-item__second art work
                .dac-first__results-item.dac-first__results-item2
                    .dac-first__results-item__first.result-artist <span>65 </span>K
                    .dac-first__results-item__second Artist
                .dac-first__results-item.dac-first__results-item3
                    .dac-first__results-item__first.result-collection <span>87 </span>K
                    .dac-first__results-item__second Collection


        .dac-second
            .dac-second__box
                .dac-second__box-img
                img(src="/images/Group3.webp", alt="/images/Group3.avif")
                .dac-second__box-bit
                    .dac-second__box-bit__first
                        .dac-second__box-bit__first-ends Ends in
                        .dac-second__box-bit__first-current Current bid
                    .dac-second__box-bit__second
                        .dac-second__box-bit__second-time 05:45:47
                        .dac-second__box-bit__second-eth 0.24ETH
                    .dac-second__box-bit__btn
                        button.bit-btn Place A Bid