.top_menu 
    .top_menu-main
        .top_menu-main-item.hover-btn.top_menu-main_marketplace
            a(href='#').marketplace Marketplace
        .top_menu-main-item.hover-btn.top_menu-main_artists
            a(href='#').artists Artists
        .top_menu-main-item.hover-btn.top_menu-main_community
            a(href='#').community Community
        .top_menu-main-item.hover-btn.top_menu-main_collections
            a(href='#').collections Collections
    .top_menu-btn.yellow-btn
        a(href='#').top_menu-btn-item.yellow-btn-item Contact